@page "/dashboard"
@rendermode InteractiveServer
@using Frontend.Pages
@using Syncfusion.Blazor.Layouts
@using DataAccess.Models
@using DataAccess.Services
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.XlsIO
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject CollaboratorService CollaboratorService
<PageTitle>Api Dashboard</PageTitle>
<h2>Api Dashboard</h2>
<div id="control-region">
    <div class="control-section" id="target">
        <div style="padding:5px;text-align:right;">
            <Syncfusion.Blazor.Buttons.SfButton CssClass="e-btn e-info" Content="Add Panel" @onclick="AddClick"></Syncfusion.Blazor.Buttons.SfButton>
        </div>
        <SfDashboardLayout @ref="dashboardObject" AllowFloating="true" AllowResizing="true" Columns="5">
            <DashboardLayoutPanels>

               
                <DashboardLayoutPanel Id="one" Column="0" Row="0">
                    <HeaderTemplate>Panel 1</HeaderTemplate>
                    <ContentTemplate>
                        <SfChart Title="User Analysis">
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Title="Last Name"></ChartPrimaryXAxis>
                            <ChartPrimaryYAxis Title="Count"></ChartPrimaryYAxis>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@Users" XName="LastName" YName="Id" Type="ChartSeriesType.Bar">
                                    <ChartMarker>
                                        <ChartDataLabel Visible="true"></ChartDataLabel>
                                    </ChartMarker>
                                </ChartSeries>
                            </ChartSeriesCollection>
                        </SfChart>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            
                <DashboardLayoutPanel Id="three" Row="1" Column="0" SizeX=1 SizeY=1>
                    <HeaderTemplate>Panel 3</HeaderTemplate>
                    <ContentTemplate>
                        <SfChart Title="Sales Analysis">
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Title="Month"></ChartPrimaryXAxis>
                            <ChartPrimaryYAxis Title="Sales in Dollar"></ChartPrimaryYAxis>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@Sales" XName="Month" YName="SalesValue" Type="ChartSeriesType.Column">
                                    <ChartMarker>
                                        <ChartDataLabel Visible="true"></ChartDataLabel>
                                    </ChartMarker>
                                </ChartSeries>
                            </ChartSeriesCollection>
                            <ChartEvents OnPointRender="PointRenderEvent"></ChartEvents>
                        </SfChart>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            
                <DashboardLayoutPanel Id="five" Row="1" Column="1" SizeX=1 SizeY=1>
                    <HeaderTemplate>Panel 5</HeaderTemplate>
                    <ContentTemplate>
                    
                        <SfAccumulationChart Title="Mobile Browser Statistics">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Browser" YName="Users"
                                                         Name="Browser">
                                </AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>

                            <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                        </SfAccumulationChart>

                        @code {
                            public class Statistics
                            {
                                public string Browser { get; set; }
                                public double Users { get; set; }
                            }

                            public List<Statistics> StatisticsDetails = new List<Statistics>
                                {
                                new Statistics { Browser = "Chrome", Users = 37 },
                                new Statistics { Browser = "UC Browser", Users = 17 },
                                new Statistics { Browser = "iPhone", Users = 19 },
                                new Statistics { Browser = "Others", Users = 4  },
                                new Statistics { Browser = "Opera", Users = 11 },
                                new Statistics { Browser = "Android", Users = 12 },
                                };
                         }
                    </ContentTemplate>
                </DashboardLayoutPanel>
           
                <!-- Collaborators List-->
                <DashboardLayoutPanel Id="seven" Row="0" Column="0" SizeX="3" SizeY="3">
                    <HeaderTemplate>Team Members (Panel 7)</HeaderTemplate>
                    <ContentTemplate>
                        <SfGrid @ref="Grid" DataSource="@Collaborators" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "Search", "ExcelExport" })">
                            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridColumns>
                                <GridColumn Field="Id" HeaderText="ID" IsPrimaryKey="true" Width="100"></GridColumn>
                                <GridColumn Field="FirstName" HeaderText="First Name" Width="150"></GridColumn>
                                <GridColumn Field="LastName" HeaderText="Last Name" Width="150"></GridColumn>
                                <GridColumn Field="TeamRole" HeaderText="Team Role" Width="150"></GridColumn>
                                <GridColumn Field="Created" HeaderText="Created" Format="d" Width="150"></GridColumn>
                                <GridColumn Field="Sales" HeaderText="Sales" Width="100"></GridColumn>
                            </GridColumns>
                            <GridEvents TValue="Collaborator" OnToolbarClick="ToolbarClick"></GridEvents>
                        </SfGrid>




                        @code {
                            private SfGrid<Collaborator>? Grid;
                            private IEnumerable<Collaborator> Collaborators;

                            protected override async Task OnInitializedAsync()
                            {
                                Collaborators = await CollaboratorService.GetCollaboratorsAsync();
                            }

                            private void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
                            {
                                if (args.Item.Id == "Grid_excelexport")
                                {
                                    Grid?.ExportToExcelAsync();
                                }
                            }
                        }

                    </ContentTemplate>
                </DashboardLayoutPanel>

                

                <!-- Empty -->
                <DashboardLayoutPanel Id="eight" Row="0" Column="3" SizeX=1 SizeY=1>
                    <HeaderTemplate>Panel 8</HeaderTemplate>
                    <ContentTemplate>
                        <h2>Panel 8</h2>
                    </ContentTemplate>
                </DashboardLayoutPanel>


            </DashboardLayoutPanels>
        </SfDashboardLayout>

            @code {
                private IEnumerable<UserModel> Users;

             
                    public class SalesInfo
                    {
                        public string Month { get; set; }
                        public double SalesValue { get; set; }
                    }

                    public List<SalesInfo> Sales = new List<SalesInfo>
                        {
                        new SalesInfo { Month = "Jan", SalesValue = 40 },
                        new SalesInfo { Month = "Feb", SalesValue = 20 },
                        new SalesInfo { Month = "Mar", SalesValue = 26 },
                        new SalesInfo { Month = "Apr", SalesValue = 20 },
                        new SalesInfo { Month = "May", SalesValue = 40 },
                        new SalesInfo { Month = "Jun", SalesValue = 32 },
                        new SalesInfo { Month = "Jul", SalesValue = 35 }
                        };

                    private string[] colors = new string[] { "#7dba53", "#83a0cf", "#6FAAB0", "#7dba53", "#83a0cf", "#6FAAB0", "#7dba53" };
                    private int colorIndex = 0;

                    public void PointRenderEvent(PointRenderEventArgs args)
                    {
                        args.Fill = colors[colorIndex % colors.Length];
                        colorIndex++;
                    }
                }

    </div>
</div>




<!-- General Code for this Site-->
@code {
    SfDashboardLayout? dashboardObject;
    public int Count = 9;
    public async Task AddClick(System.EventArgs args)
    {
        string ContentValue = this.Count.ToString();
        PanelModel panel = new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 1,
            SizeY = 1,
            Column = 0,
            Row = 0,
            Header = @<div class='text-align'> Panel @ContentValue </div>
        };
        await dashboardObject!.AddPanelAsync(panel);
        this.Count = this.Count + 1;
    }
}